@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-warning: var(--warning);
  --color-warning-foreground: var(--warning-foreground);
  --color-checkbox-checked: var(--checkbox-checked);
  --color-checkbox-outline-checked: var(--checkbox-outline-checked);
}

:root {
  --radius: 0.625rem;
  --background: #0a1117;
  --foreground: #667085;
  --card: #0a1117;
  --card-foreground: #667085;
  --popover: #0a1117;
  --popover-foreground: #667085;
  --primary: #0a1117;
  --primary-foreground: #0b1d26;
  --secondary: #0c1820;
  --secondary-foreground: #0a1117;
  --muted: #0c1820;
  --muted-foreground: #7a7a7a;
  --accent: #0c1820;
  --accent-foreground: #0a1117;
  --destructive: oklch(0.577 0.245 27.325);
  --border: #2e2e2e;
  --input: #2e2e2e;
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: #0b1d26;
  --sidebar-foreground: #667085;
  --sidebar-primary: #0a1117;
  --sidebar-primary-foreground: #0b1d26;
  --sidebar-accent: #0c1820;
  --sidebar-accent-foreground: #0a1117;
  --sidebar-border: #2e2e2e;
  --sidebar-ring: oklch(0.708 0 0);
  --warning: #fbbd2c;
  --warning-foreground: oklch(0.28 0.07 46);
  --checkbox-checked: #1c6599;
  --checkbox-outline-checked: "#9ED2F7";
}

.dark {
  --background: #667085;
  --foreground: #0b1d26;
  --card: #0a1117;
  --card-foreground: #0b1d26;
  --popover: #0a1117;
  --popover-foreground: #0b1d26;
  --primary: #2e2e2e;
  --primary-foreground: #0a1117;
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: #0b1d26;
  --muted: oklch(0.269 0 0);
  --muted-foreground: #7a7a7a;
  --accent: oklch(0.269 0 0);
  --accent-foreground: #0b1d26;
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: #0a1117;
  --sidebar-foreground: #0b1d26;
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: #0b1d26;
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: #0b1d26;
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
  --warning: #fbbd2c;
  --warning-foreground: oklch(0.99 0.02 95);
  --checkbox-checked: #1c6599;
  --checkbox-outline-checked: "#9ED2F7";
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  .command-item[aria-selected="true"] .checkbox {
    border-color: #9ed2f7 !important;
  }

  .rdp-day_range_start,
  .rdp-day_range_end,
  .rdp-day_range_middle {
    background-color: #98712b !important;
  }

  .rdp-day_range_start,
  .rdp-day_range_end {
    position: relative;
    z-index: 2;
    @apply !font-medium;
  }

  .rdp-day_range_start::before,
  .rdp-day_range_end::before {
    content: "";
    border-radius: 100%;
    background-color: #fbbd2d !important;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .rdp-day:hover {
    background-color: #fbbd2d !important;
  }

  .rdp-day_today::after {
    content: "";
    z-index: 1;
    border-radius: 100%;
    width: 5px;
    height: 5px;
    position: absolute;
    bottom: 2px;
    left: 0px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    @apply !bg-neutral-700;
  }

  .rdp-day_range_middle.rdp-day_today::after {
    background-color: #fbbd2d !important;
  }

  .rdp-table .rdp-head_cell {
    @apply !font-medium !text-sm text-neutral-200 !capitalize;
  }

  .rdp-day_outside {
    @apply !text-sm !font-normal !text-neutral-700;
  }

  .rdp-day {
    @apply !text-sm !font-normal !text-neutral-200;
  }
}
